body{
    background-color: rgba(68, 72, 78, 0.63);
    font: normal 20pt Arial;
    
}

header{
    color: white;
    text-align: center;
}
.Conteudo-principal-do-site{
    display: grid;
    background-color: tomato;
    padding: 15px;
    
    grid-template-columns: auto 180px auto;
    grid-template-rows: auto 150px auto;
	
}
div#result{
    background-color: rgba(238, 234, 234, 0.52) ;
    margin-top: auto;

}

section#essa{
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;

}
div#border-radius{
    background-color: rgba(238, 234, 234, 0.52); 
    margin-top: 10px;
    
}
.resultado{
    padding: 10px;
    width: max-content;
    margin: auto;
    margin-top: 15px;
    background-color: tomato;
    border-radius: 20px;
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
input{
    width: 50px;
}
h2{
    color: white;
    margin: auto;
    
}